*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    height:70px;
    width:100%;
    padding: 0 2rem;
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 1px 3px #ccc;
    position:sticky;
    top:0;
    z-index:99;
}

nav .nav-left, nav .nav-right{
    display:flex;
    align-items: center;
}

nav .nav-left > img{
    width:40px;
}

nav .nav-left > input{
    height:40px;
    padding:5px 10px;
    border:none;
    border-radius: 25px;
    outline:none;
    background-color: #eee;
    margin-left: 10px;
}

nav .nav-middle{
    display:flex;
    align-items:flex-end;
    padding-bottom: 5px;
}

nav .nav-middle a{
    text-decoration: none;
    color:#333;
    padding:10px;
    margin:0px 10px;
}

nav .nav-middle a.active{
    color:royalblue;
    position:relative;
}

nav .nav-middle a.active::after{
    content:'';
    width:100%;
    height:3px;
    position:absolute;
    bottom:0;
    left:0;
    background:royalblue;
}

nav .nav-middle a > i{
    font-size: 25px;
}

nav .nav-right .profile, .container .left-panel .profile{
    height:30px;
    width:30px;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

nav .nav-right a{
    text-decoration: none;
    color:#333;
    height:40px;
    width:40px;
    border-radius: 50%;
    background:#eee;
    display:grid;
    place-items: center;
    margin-left:1rem;
}

nav .nav-right a > i{
    font-size:18px;
}


.container{
    /*background:#eee;*/
    background: aliceblue;
    display:flex;
}

.container .left-panel, .container .right-panel{
    position: sticky;
    top:70px;
    width:250px;
    height:calc(100vh - 70px);
}

.container .left-panel ul{
    padding:10px 0px;
}

.container .left-panel ul li{
    list-style: none;
    display: flex;
    padding:.7rem 1rem;
    align-items: center;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}

.container .left-panel ul li:hover{
    background:#ddd;
}

.container .left-panel ul li > p{
    margin-left: 10px;
}

.container .left-panel ul li > i{
    font-size:20px;
    color:slateblue;
}

.container .left-panel ul li > i.fa-calendar-week{
    color:tomato;
}

.container .left-panel ul li i.fa-briefcase{
    color:green;
}

.container .left-panel ul li i.fa-star{
    color:yellowgreen;
}

.container .left-panel ul li i.fa-hands-helping{
    color:indianred;
}

.container .left-panel .footer-links{
    padding:5px 1rem;
}

.container .left-panel .footer-links a{
    text-decoration: none;
    color:#333;
    font-size:12px;
}

.middle-panel{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:center;
}

.middle-panel .story-section{
    display:flex;
    padding:1rem;
}

.middle-panel .story-section .story{
    width:120px;
    height:200px;
    border-radius: 10px;
    position: relative;
    overflow:hidden;
    cursor: pointer;
    margin:0px 5px;
    box-shadow: 0 0 5px 5px #ddd;
    background:#fff;
}

.middle-panel .story-section .story > img{
    height:100%;
    transition:.3s ease-in;
}

.middle-panel .story-section .story:hover > img{
    transform:scale(1.05);
}

.middle-panel .story-section .story .dp-container{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow:hidden;
    position:absolute;
    top:10px;
    left:10px;
    border:royalblue 4px solid;
}

.middle-panel .story-section .story .dp-container > img{
    width:100%;
    height:100%;
}

.middle-panel .story-section .story .name{
    position:absolute;
    bottom:0px;
    left:0px;
    padding:5px;
    color:#fff;
    font-weight:bold;
}

.middle-panel .story-section .story.create .dp-image{
    height:80%;
    overflow:hidden;
}

.middle-panel .story-section .story.create .dp-image img{
    width:100%;
}

.middle-panel .story-section .story.create .dp-container{
    top:70%;
    left:50%;
    transform: translateX(-50%);
    display:grid;
    place-items: center;
    background:royalblue;
    border:4px solid #fff;
}

.middle-panel .story-section .story.create .dp-container i{
    color: #fff;
}

.middle-panel .story-section .story.create .name{
    color: #000;
    font-size:15px;
    left:10px;
}

.post{
    width:550px;
    background:#fff;
    border-radius:10px;
    padding:10px;
    margin:10px;
}

.post .post-top{
    display:flex;
    align-items: center;
    padding:10px;
}

.post .post-top .dp{
    width:40px;
    height:40px;
    border-radius: 50%;
    overflow:hidden;
}

.post .post-top .dp > img{
    width:100%;
    cursor:pointer;
}

.post .post-top .post-info{
    margin-left:10px;
    font-weight: bold;
}

.post .post-top .post-info .name{
    cursor:pointer;
    font-size:16px;
}

.post .post-top .post-info .time{
    font-size:12px;
    cursor:pointer;
}

.post .post-top i{
    margin-left:auto;
    cursor: pointer;
}

.post .post-top > input{
    height:40px;
    padding:5px 10px;
    border-radius:25px;
    outline:none;
    border:none;
    flex:1;
    background:#eee;
    margin-left:10px;
}

.post .post-content{
    font-size:16px;
    font-weight:normal;
    padding:10px;
}

.post .post-content > img{
    width:100%;
    margin:5px 0px;
}

.post .post-bottom{
    box-shadow: 1px solid #ddd;
    display:flex;
    justify-content: space-between;
    padding:5px 5px 0px 5px;
}

.post .post-bottom .action{
    padding:10px;
    border-radius:10px;
    transition: .3s ease-in;
    cursor: pointer;
}
#profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
}

#profile-pic img {
    width: 80%;
}

.post .post-bottom .action:hover{
    background:#eee;
}

.post.create .post-bottom > .action{
    color:#d74;
}

.container .right-panel{
    padding:1rem;
}

.right-panel .pages-section,
.right-panel .friends-section{
    margin:1rem 0px;
}

.right-panel .pages-section h4,
.right-panel .friends-section h4{
    margin-bottom:10px;
}

.right-panel .pages-section .page,
.right-panel .friends-section .friend{
    display: flex;
    align-items:center;
    text-decoration: none;
    transition: .3s ease-in-out;
    border-radius: 5px;
    padding:7px 10px;
    color:#333;
}

.right-panel .pages-section .page:hover,
.right-panel .friends-section .friend:hover{
    background:#ddd;
}

.right-panel .pages-section .page > .dp,
.right-panel .friends-section .friend > .dp{
    height:40px;
    width:40px;
    border-radius: 50%;
    overflow:hidden;
    cursor: pointer;
}

.right-panel .pages-section .page > .dp > img,
.right-panel .friends-section .friend > .dp > img{
    width:100%;
}

.right-panel .pages-section .name, .right-panel .friends-section .name{
    font-size:18px;
    cursor:pointer;
    margin-left:8px;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}
.btn-warning{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: slateblue;
    border: 0;
    transition: 0.2s;
    overflow: hidden;
}

.btn-warning input[type = "file"]{
    cursor: pointer;
    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
}

.btn-warning:hover{
    background-color: #d9a400;
}

.form-submit-button {

    line-height: 1.5;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    font-family:sans-serif;
    font-size: 16px;
    /*background: #d74;*/
    background: slateblue;
    color: white;
    height: 46px;
    width: 126px;
}
.form-submit-button:hover{
    /*background-color: #d9a400;*/
    background-color: slateblue;
}
.button-profile {

    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    /*commented for demo*/
    /*float: left;*/
    /*margin-left: 10px;*/
    /*margin-top: 40px;*/


    /*for demo*/
    display:inline-block;
    vertical-align: baseline;
}
.button-profile img{
    float: left;
    object-position: bottom 12px right 40px;
    width:100%;
}




.like__btn {
    padding: 10px 15px;
    /*background: #d74;*/
    background: slateblue;

    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
}
.like__btn-2 {
    padding: 10px 15px;
    background: slateblue;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
}

#post-image {
    width: 500px;
    height: 170px;
}

#post-image img {
    max-width: 100%;
    max-height: 100%;
}

nav .input-search:focus-visible{
    outline-width: 0!important;
}
.underline{
    text-decoration: none;
}
.underline a:active{
    text-decoration: none;

}

.dp-profile-round-pic{
    width: 40px;
    height: 40px;
}

#img-preview {
    display: none;
    width: 155px;
    border: 2px dashed #333;
    margin-bottom: 20px;
}
#img-preview img {
    width: 100%;
    height: auto;
    display: block;
}







