<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Create Comment</title>
</head>
<body>
<div class="col-md-offset-2">
    <h2>Create New Comment</h2>
</div>
<form class="form-horizontal" th:action="@{|/comment/add/${postId}|}" th:object="${comment}" method="post">
    <div class="form-group">
        <div>
            <label class="col-sm-2 control-label" for="last-name">Comment:</label>
            <div class="col-sm-8">
                <textarea style="height: 450px" type="text" class="form-control" th:field="*{text}" id="last-name"/>
                <small class="form-text text-muted" th:if="${#fields.hasErrors('text')}"
                       th:errors="*{text}"></small>
            </div>
        </div>
        <div>
            <input style="vertical-align: bottom" type="submit" class="btn btn-info" value="Create"/>
            <br>
            <br>
            <input type="reset" class="btn btn" value="Clear"/>
            <br>
            <br>
            <a class="btn btn-default" th:href="@{/posts}">To Feed</a>
        </div>
    </div>
</form>
</body>
</html>