<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/feed.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


    <title>Socialhorse</title>
</head>

<body>

<nav>
    <div class="nav-left position-relative d-flex flex-column">
        <div class="card mt-3 mb-1 border-0" >
            <div class="header">
         <img  alt="">
         <input class="input-search border-0" style="background-color: #eee; border-radius: 25px; padding: 7px;" type="text" placeholder="Search Socialhorse`s..." data-search >
            </div>
        </div>
        <div class="user-cards d-flex flex-column w-100">
            <div class="card user-card mb-1" th:each="user, iter: ${users}" style="display: none;">
                <a class="text-decoration-none text-muted" th:href="@{|/users/${user.username}|}">


                <div class="header" data-header th:text="${user.firstName}+' '+${user.lastName}">

                </div>
                </a>
            </div>
        </div>
    </div>

    <div class="nav-middle">
        <a th:href="@{/feed}" class="active">
            <i class="fa fa-home"></i>
            <a th:href="@{|/users/${#authentication.principal.username}/friends|}">
                <i class="fa fa-user-friends"></i>
            </a>
        </a>

        <a th:href="@{|/users/${#authentication.principal.username}|}" >
            <i class="fa fa-users"></i>
        </a>
        <a th:href="@{/msg/chat}">
            <i class="	fas fa-comment-alt"></i>
        </a>
    </div>

    <div class="nav-right">
        <span class="profile"></span>

        <a th:href="@{/friend/notification}">
            <i class="fa fa-bell"></i>
        </a>

    </div>
</nav>

<div class="container" style="max-width: 100%;">
    <div class="left-panel">
        <ul>
            <li>
                <span class="profile"></span>
                <div class="profile-pic" th:if="${#authentication.principal.username != null}">

                    <a  th:href="@{|/users/${#authentication.principal.username}|}"><img th:if="${imageIsPresent == true}"  class="button-profile" th:src="@{|/images/${#authentication.principal.imageForFeed}|}" alt="" ></a>
                    <a  th:href="@{|/users/${#authentication.principal.username}|}"><img th:if="${imageIsPresent == false}" class="button-profile" src="https://www.ohlq.com/ui/dist/assets/toolkit/images/product/no-product-image.png" alt="" ></a>

                </div>
                <p th:href="@{|/users/${#authentication.principal.username}|}" th:text="${#authentication.principal.fullName}"></p>
            </li>
            <li>
                <i class="fa fa-user-friends"></i>
                <p>Friends</p>
            </li>
<!--            <li>-->
<!--                <i class="fa fa-play-circle"></i>-->
<!--                <p>Videos</p>-->
<!--            </li>-->
<!--            <li>-->
<!--                <i class="fa fa-flag"></i>-->
<!--                <p>Pages</p>-->
<!--            </li>-->
            <li>
                <i class="fa fa-users"></i>
                <p>Groups</p>
            </li>
            <li>
                <i class="fa fa-bookmark"></i>
                <p>Bookmark</p>
            </li>
            <li>
                <i class="fab fa-facebook-messenger"></i>
                <p>Inbox</p>
            </li>

            <li>
                <i class="fa fa-star"></i>
                <p>Favourites</p>
            </li>
        </ul>

        <div class="footer-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Advance</a>
            <a href="#">More</a>
        </div>
    </div>


    <div class="middle-panel">


        <form enctype="multipart/form-data" th:if="${#authentication.principal.username != null}" th:action="@{|/posts/new/${#authentication.principal.username}/|}" th:object="${newPost}"  method="post">
            <div class="post create">
                <div class="post-top">
                    <div class="dp">
                        <img class="dp-profile-round-pic" th:if="${imageIsPresent == true}" th:src="@{|/images/${#authentication.principal.imageForFeed}|}" alt="" >
                        <img class="dp-profile-round-pic" th:if="${imageIsPresent == false}" src="https://www.ohlq.com/ui/dist/assets/toolkit/images/product/no-product-image.png" alt="" >
                    </div>
                    <input type="text" th:placeholder="${'What is on your mind, ' + #authentication.principal.firstName + '?' }"
                        th:field="*{body}"/>
                </div>

                <div class="post-bottom">

                    <div class="upload">
                        <div id="img-preview"></div>
                        <button type = "button" class = "btn-warning">
                            <i class = "fa fa-upload"></i> Upload File
                            <input id="choose-file" type="file" name="postImage" accept="image/png, image/gif, image/jpeg">
                        </button>
                    </div>


                    <input class="form-submit-button" type="submit" value="Create">
                </div>


            </div>

        </form>

        <div class="post" th:each="post, iter : ${posts}">
            <div class="post-top" th:switch="${post.getUser().getUsername() == #authentication.principal.username}">
                <div class="dp">
                    <img class="dp-profile-round-pic" th:if="${post.user.images.size() == 1 and post.user.images.get(0).getName() == 'userImage'}" th:src="@{|/images/${post.user.images.get(0).getId()}|}">
                    <img class="dp-profile-round-pic" th:if="${post.user.images.size() == 2 and post.user.images.get(1).getName() == 'backgroundImage'}" th:src="@{|/images/${post.user.images.get(1).getId()}|}">
                    <img class="dp-profile-round-pic" th:if="${post.user.images.size() == 2}" th:src="@{|/images/${post.user.images.get(1).getId()}|}">
                    <img class="dp-profile-round-pic" th:if="${post.user.images.size()  >=  3 }" th:src="@{|/images/${post.user.images.get(post.user.images.size() - 1).getId()}|}">
                    <img class="dp-profile-round-pic" th:if="${post.user.images.size() == 0}" src="https://www.ohlq.com/ui/dist/assets/toolkit/images/product/no-product-image.png">

                </div>
                <div class="post-info" >
                    <a class="underline" th:href="@{|/users/${post.getUser().getUsername()}|}" style="text-decoration: #0e0e0e; color: #0e0e0e">
                        <p class="name" th:text="${post.getUser().getFirstName() + ' ' +  post.getUser().getLastName()}"></p>
                    </a>
                    <span class="time" th:text="${post.getCreationDate()}" style = "position:relative; top: -20px;" ></span>

                </div>

                <a th:case="true" th:href="@{|/posts/${post.id}/update/|}" style="position: relative;left: 291px"><i class="fas fa-edit"></i></a>

            </div>

            <div class="post-content">
                <div th:text="${post.body}"></div>

                <div id="post-image" th:if="${post.getImage() != null}" >
                    <a th:href="'http://localhost:2402/post/images/' + ${post.getImage().id}" target="_blank" >
                    <img th:src="@{|/post/images/${post.getImage().id}|}"  />
                    <img th:if="${post.getImage() == null}" />
                    </a>
                </div>
            </div>

            <div class="post-bottom">

                <button class="like__btn">
                    <span id="count" th:text="${post.likeCounter}"></span>
                    <span id="icon" th:if="${post.liked}"><i class="fas fa-thumbs-up"></i></span>
                    <a th:href="@{|/posts/${post.id}/like/|}" th:unless="${post.liked}"><i class="far fa-thumbs-up"></i></a>
                </button>
                <button class="like__btn-2">
                    <span id="count-2" th:text="${post.dislikeCounter}"></span>
                    <span id="icon-2" th:if="${post.disliked}"><i class="fas fa-thumbs-down"></i></span>
                    <a th:href="@{|/posts/${post.id}/dislike/|}" th:unless="${post.disliked}"><i class="far fa-thumbs-down"></i></a>
                </button>



                <div class="action">
                    <i class="far fa-comment"></i>
                    <span>Comment</span>
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    const searchInput = document.querySelector("[data-search]")

    let users = []


    searchInput.addEventListener("input", (e) => {

        const value = e.target.value.toLowerCase().trim()
        let cardsList = document.querySelectorAll('.user-card')
        if (value.length == 0){
            cardsList.forEach((card) => {
                card.style.display = 'none';
            })
        }  else {
            cardsList.forEach((card) => {
                let cardHeader = card.querySelector('[data-header]')
                let text = cardHeader.innerHTML.toLowerCase()
                if (text.includes(value)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            })
        }
    })


    const chooseFile = document.getElementById("choose-file");
    const imgPreview = document.getElementById("img-preview");

    function getImgData() {
        const files = chooseFile.files[0];
        if (files) {
            const fileReader = new FileReader();
            fileReader.readAsDataURL(files);
            fileReader.addEventListener("load", function () {
                imgPreview.style.display = "block";
                imgPreview.innerHTML = '<img src="' + this.result + '" />';
            });
        }
    }
    chooseFile.addEventListener("change", function () {
        getImgData();
    });


</script>

</body>
</html>