<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/footerTwo.css">
</head>
<body>

<div class="d-flex justify-content-start">
    <div>&copy; 2023. Version 1.0.Creators are Vlad Shtaiier & Denys Leonenko</div>
</div>

<!--<div>-->
<!--    <div id="content-wrap">      &lt;!&ndash; all other page content &ndash;&gt;    </div>-->
<!--    <footer style="  position: absolute;  bottom: 0;   width: 100%;  height: 2.5rem;">-->
<!--        <div class="marketing-site-footer-bottom">-->
<!--            <div class="row large-unstack align-middle">-->
<!--                <div class="column">-->
<!--                    <p style="color: white">&copy; 2023. Version 1.0.Creators are Vlad Shtaiier & Denys Leonenko</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </footer>-->
<!--</div>-->
</body>
</html>
