<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <nav>
        <div class="nav-left position-relative d-flex flex-column">
            <div class="card mt-3 mb-1 border-0" >
                <div class="header">
                    <img  alt="">
                    <input class="input-search border-0" style="background-color: #eee; border-radius: 25px; padding: 7px;" type="text" placeholder="Search Socialhorse`s..." data-search >
                </div>
            </div>
            <div class="user-cards d-flex flex-column w-100">
                <div class="card user-card mb-1" th:each="user, iter: ${users}" style="display: none;">
                    <a class="text-decoration-none text-muted" th:href="@{|/users/${user.username}|}">


                        <div class="header" data-header th:text="${user.firstName}+' '+${user.lastName}">

                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="nav-middle">
            <a th:href="@{/feed}">
                <i class="fa fa-home"></i>
                <a href="#" class="active">
                    <i class="fa fa-user-friends"></i>
                </a>
            </a>

            <a th:href="@{|/users/${#authentication.principal.username}|}" >
                <i class="fa fa-users"></i>
            </a>
            <a th:href="@{/msg/chat}">
                <i class="	fas fa-comment-alt"></i>
            </a>
        </div>

        <div class="nav-right">
            <span class="profile"></span>

            <a href="#">
                <i class="fa fa-bell"></i>
            </a>

        </div>
    </nav>
</head>
<link rel="stylesheet" href="/friend-list.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<body>
    <div class="main-content">

    <ul id='friend-list' >
        <div>
            <li class='friend selected' th:each="friend : ${user.getReceivedRequests()}">

                <img th:if="${friend.sender.images.size() == 1 and friend.sender.images.get(0).getName() == 'userImage'}" th:src="@{|/images/${friend.sender.images.get(0).getId()}|}">
                <img th:if="${friend.sender.images.size() == 2 and friend.sender.images.get(1).getName() == 'backgroundImage'}" th:src="@{|/images/${friend.sender.images.get(1).getId()}|}">
                <img th:if="${friend.sender.images.size() == 2}" th:src="@{|/images/${friend.sender.images.get(1).getId()}|}">
                <img th:if="${friend.sender.images.size()  >=  3 }" th:src="@{|/images/${friend.sender.images.get(friend.sender.images.size() - 1).getId()}|}">
                <img th:if="${friend.sender.images.size() == 0}" src="https://www.ohlq.com/ui/dist/assets/toolkit/images/product/no-product-image.png">
                <a th:href="@{|/users/${friend.getSender().getUsername()}|}" style="text-decoration: #0e0e0e; color: #0e0e0e">
                    <div class='name' th:text="${friend.getSender().getFirstName() + ' ' + friend.getSender().getLastName()}"></div>
                </a>
                <a th:href="@{|/friend/${friend.getId()}/delete|}" style="position: relative;left: 291px; text-decoration: #2C83f2"><i class="fas fa-trash"></i></a>

            </li>
            <li class='friend selected' th:each="friend : ${user.getSentRequest()}">

                <img th:if="${friend.receiver.images.size() == 1 and friend.receiver.images.get(0).getName() == 'userImage'}" th:src="@{|/images/${friend.receiver.images.get(0).getId()}|}">
                <img th:if="${friend.receiver.images.size() == 2 and friend.receiver.images.get(1).getName() == 'backgroundImage'}" th:src="@{|/images/${friend.receiver.images.get(1).getId()}|}">
                <img th:if="${friend.receiver.images.size() == 2}" th:src="@{|/images/${friend.receiver.images.get(1).getId()}|}">
                <img th:if="${friend.receiver.images.size()  >=  3 }" th:src="@{|/images/${friend.receiver.images.get(friend.receiver.images.size() - 1).getId()}|}">
                <img th:if="${friend.receiver.images.size() == 0}" src="https://www.ohlq.com/ui/dist/assets/toolkit/images/product/no-product-image.png">

                <a th:href="@{|/users/${friend.getReceiver().getUsername()}|}" style="text-decoration: #0e0e0e; color: #0e0e0e">
                    <div class='name' th:text="${friend.getReceiver().getFirstName() + ' ' + friend.getReceiver().getLastName()}"></div>
                </a>
                <a th:href="@{|/friend/${friend.getId()}/delete|}" style="position: relative;left: 291px; text-decoration: #2C83f2"><i class="fas fa-trash"></i></a>
            </li>
        </div>
    </ul>
    </div>
</body>
<!--<footer>-->
<!--    <div th:replace="footer"></div>-->
<!--</footer>-->
</html>

