<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<body>
<div class="container-fluid">
<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="nav-left position-relative d-flex flex-column">
        <div class="card mt-3 mb-1 border-0" >
            <div class="header">
                <img  alt="">
                <input class="input-search border-0" style="background-color: #eee; border-radius: 25px; padding: 7px;" type="text" placeholder="Search Socialhorse`s..." data-search >
            </div>
        </div>
        <div class="user-cards d-flex flex-column w-100">
            <div class="card user-card mb-1" th:each="user, iter: ${users}" style="display: none;">
                <a class="text-decoration-none text-muted" th:href="@{|/users/${user.username}|}">


                    <div class="header" data-header th:text="${user.firstName}+' '+${user.lastName}">

                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="nav-middle">
        <a th:href="@{/feed}">
            <i class="fa fa-home"></i>
            <a th:href="@{|/users/${#authentication.principal.username}/friends|}">
                <i class="fa fa-user-friends"></i>
            </a>
        </a>

        <a th:href="@{|/users/${#authentication.principal.username}|}" class="active" >
            <i class="fa fa-users"></i>
        </a>
        <a th:href="@{/msg/chat}">
            <i class="	fas fa-comment-alt"></i>
        </a>
    </div>

    <div class="nav-right">
        <span class="profile"></span>

        <a href="#">
            <i class="fa fa-bell"></i>
        </a>

    </div>
</nav>



    <main>

        <link rel="stylesheet" href="/profile-page.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <div id="profile-upper">
            <div id="profile-banner-image">
                <img th:if="${user.images.size() >= 2 and user.images.get(1).getName() == 'userImage'}" src="https://wallpapers.com/images/hd/hd-country-life-at-night-vvxmbqzkr4uumuni.jpg">
                <img th:if="${user.images.size() >= 2 and user.images.get(1).getName() == 'imageBackground'}" th:src="@{|/images/${image.get(1).getId()}|}">
                <img th:if="${user.images.size() == 1 || user.images.size() == 0 }" src="https://wallpapers.com/images/hd/hd-country-life-at-night-vvxmbqzkr4uumuni.jpg">
            </div>

            <div id="profile-d" >

                <div id="profile-pic" >
                    <img th:if="${user.images.size() == 1 and user.images.get(0).getName() == 'userImage'}" th:src="@{|/images/${image.get(0).getId()}|}">
                    <img th:if="${user.images.size() == 2 and user.images.get(1).getName() == 'backgroundImage'}" th:src="@{|/images/${image.get(1).getId()}|}">
                    <img th:if="${user.images.size() == 2}" th:src="@{|/images/${image.get(1).getId()}|}">
                    <img th:if="${user.images.size()  >=  3 }" th:src="@{|/images/${image.get(image.size() - 1).getId()}|}">
                    <img th:if="${user.images.size() == 0}" src="https://www.ohlq.com/ui/dist/assets/toolkit/images/product/no-product-image.png">
                </div>

    <!--            ToDo add if image is not present -> add custom image, like 'unavailable"-->
                <div id="u-name" th:text="${user.getFirstName() + ' '+ user.getLastName()}"></div>
            </div>
            <div id="black-grd"></div>

        </div>
        <div id="main-content">
            <div class="tb" th:switch="${user.getUsername() == #authentication.principal.username}">
                <div class="td" id="l-col" th:switch="${username == #authentication.principal.username}">
                        <button  th:if="${!ifFriend and !isAccount }" class="button-44" role="button" ><a style="text-decoration: none; color: white" th:href="@{|/friend/${#authentication.principal.username}/add/${user.username}|}">Add friend</a></button>
                        <button  th:if="${ifFriend and !isAccount}" class="button-44" role="button" style="color: white; background: #7f8fa6" disabled>A friend</button>
    <!--                    <button  th:if="${isAccount}" class="button-44" role="button" style="color: white; background: #7f8fa6" disabled>GET THE FUCK OUT OF HERE</button>-->
                        <button class="button-44" role="button">Write Msg</button>
                    <br><br>
                        <div>
                            <button class="button-44" role="button">Follow</button>
                            <button th:case="true" class="button-44" role="button"><a th:href="@{|/users/${user.getId()}/update/|}" style="color: white; text-decoration: none">Update user</a></button>
                        </div>

                   <p th:text="${user.getEmail()}"></p>
                   <p th:text="${user.getCountry()}"></p>
                   <p th:if="${user.getAge() != 0}" th:text="${user.getAge() + ' years'}"></p>

                    <div class="l-cnt">
                        <div class="cnt-label">
                            <i class="l-i" id="l-i-i"></i>
                            <span th:text="${user.getBio()}"></span>
                        </div>
                        <div id="i-box">
                            <div id="u-occ"></div>
                        </div>
                    </div>
                    <div id="t-box">
    <!--                    ToDo add own pages here -->
                        <a href="#">Privacy</a> <a href="#">Terms</a> <a href="#">Advertising</a> <a href="#">Ad Choices</a> <a href="#">Cookies</a> <span id="t-more">More<i class="material-icons">arrow_drop_down</i></span>
                    </div>
                </div>
                <div class="td" id="m-col">

                        <div class="post" th:each="post, iter : ${posts}">
                            <div class="post-top" th:switch="${post.getUser().username == #authentication.principal.username}">
                                <div class="dp">
                                    <a th:href="@{|/users/${post.getUser().getUsername()}|}">
                                        <img th:if="${post.user.images.size()  ==  0}" src="https://www.ohlq.com/ui/dist/assets/toolkit/images/product/no-product-image.png">
                                        <img th:if="${post.user.images.size()  ==  1 or post.user.images.size()  ==  2 }" th:src="@{|/images/${post.user.images.get(0).getId()}|}">
                                        <img th:if="${post.user.images.size()  >=  3 }" th:src="@{|/images/${post.user.images.get(post.user.images.size() - 1).getId()}|}">
                                    </a>
                                </div>
                                <div class="post-info">
                                    <p class="name" th:text="${post.getUser().getFirstName() + ' ' +  post.getUser().getLastName()}"></p>
                                    <!--                    todo make proper show of creation data(1 day ago, 1 week ago , etc)-->
                                    <span class="time" th:text="${post.getCreationDate()}"></span>
                                </div>
                                <div th:case="true">
                                    <a  th:href="@{|/posts/${post.id}/delete/|}" style="position: relative;left: 291px"><i class="fas fa-trash"></i></a>
                                    <a  th:href="@{|/posts/${post.id}/update/|}" style="position: relative;left: 291px"><i class="fas fa-edit"></i></a>
                                </div>

                            </div>

                            <div class="post-content">
                                <div th:text="${post.body}"></div>

                                <div id="post-image" th:if="${post.getImage() != null}" >
                                    <a th:href="'http://localhost:2402/post/images/' + ${post.getImage().id}" target="_blank" >
                                        <img th:src="@{|/post/images/${post.getImage().id}|}"  />
                                        <img th:if="${post.getImage() == null}" />
                                    </a>
                                </div>

                            </div>

                            <div class="post-bottom">

                                <button class="like__btn">
                                    <span id="count" th:text="${post.likeCounter}"></span>
                                    <span id="icon" th:if="${post.liked}"><i class="fas fa-thumbs-up"></i></span>
                                    <a th:href="@{|/posts/${post.id}/like/|}" th:unless="${post.liked}"><i class="far fa-thumbs-up"></i></a>
                                </button>
                                <button class="like__btn-2">
                                    <span id="count-2" th:text="${post.dislikeCounter}"></span>
                                    <span id="icon-2" th:if="${post.disliked}"><i class="fas fa-thumbs-down"></i></span>
                                    <a th:href="@{|/posts/${post.id}/dislike/|}" th:unless="${post.disliked}"><i class="far fa-thumbs-down"></i></a>
                                </button>



                                <div class="action">
                                    <i class="far fa-comment"></i>
                                    <span>Comment</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

    </main>

</div>
</body>

    <script src="https://use.fontawesome.com/fe459689b4.js"></script>
    <script>var btn1 = document.querySelector('#green');
    var btn2 = document.querySelector('#red');

    btn1.addEventListener('click', function() {

        if (btn2.classList.contains('red')) {
            btn2.classList.remove('red');
        }
        this.classList.toggle('green');

    });

    btn2.addEventListener('click', function() {

        if (btn1.classList.contains('green')) {
            btn1.classList.remove('green');
        }
        this.classList.toggle('red');

    });

    </script>


</html>

