<div xmlns:th="http://www.thymeleaf.org" style="width: 25%;">
    <div class="search-box-wrapper">
        <label for="search">Search Users</label>
        <input type="search" id="search" data-search>
    </div>

    <div class="user-cards">
        <div class="card" th:each="user, iter: ${users}" style="display: none;">
            <div class="header" data-header th:text="${user.firstName}+' '+${user.lastName}"></div>
            <div class="body" data-body></div>
        </div>
    </div>
</div>

<template data-user-template>
    <div class="card">
        <div class="header" data-header></div>
        <div class="body" data-body></div>
    </div>
</template>


<script>
    const searchInput = document.querySelector("[data-search]")

    let users = []


    searchInput.addEventListener("input", (e) => {

        const value = e.target.value.toLowerCase().trim()
        let cardsList = document.querySelectorAll('.card')
        if (value.length == 0){
            cardsList.forEach((card) => {
                card.style.display = 'none';
            })
        }  else {
            cardsList.forEach((card) => {
                let cardHeader = card.querySelector('[data-header]')
                let text = cardHeader.innerHTML.toLowerCase()
                if (text.includes(value)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            })
        }
        // users.forEach(user => {
        //     const isVisible =
        //         user.name.toLowerCase().includes(value) ||
        //         user.email.toLowerCase().includes(value)
        //     user.element.classList.toggle("hide", !isVisible)
        // })
    })

</script>
