<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="styles.css">-->

    <title>Document</title>
</head>
<body>
<div style="width: 25%;">
<div class="search-box-wrapper" >
    <label for="search">Search Users</label>
    <input type="search" id="search" data-search>
</div>

<div class="user-cards">
    <div class="card"  th:each="user, iter: ${users}" style="display: none;">
        <div class="header" data-header th:text="${user.email}"> </div>
        <div class="body" data-body></div>
    </div>
</div>
</div>

<template data-user-template>
    <div class="card">
        <div class="header" data-header></div>
        <div class="body" data-body></div>
    </div>
</template>

<button type="button" th:onclick="showAlert()">Show Alert</button>

<script>
    function showAlert(){
        alert('test')
    }

</script>


</body>
</html>