<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit profile</title>
  <link rel="stylesheet" href="/update-user.css">


</head>
<body>
<div class="container">
  <div class="title" th:text="${'Edit ' + user.getFirstName() +' '+ user.getLastName() + ' profile'}"></div>
  <div class="content">
    <form th:action="@{/users/update}" th:object="${user}" enctype="multipart/form-data" method="POST">
      <div class="user-details">
        <input hidden type="number" th:field="*{id}" id="id" th:value="*{id}"/>
        <div class="input-box">
          <span class="details">First Name</span>
          <input type="text" th:field="*{firstName}" placeholder="Enter your first name" required>
        </div>
        <div class="input-box">
          <span class="details">Last Name</span>
          <input type="text" th:field="*{lastName}" placeholder="Enter your last name" required>
        </div>
        <div class="input-box">
          <span class="details">Username</span>
          <input type="text" th:field="*{username}" placeholder="Enter your username" required>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" th:field="*{email}" placeholder="Enter your email">
        </div>
        <div class="input-box">
          <span class="details">Age</span>
          <input type="number" th:field="*{age}" placeholder="Enter your age">
        </div>
        <div class="input-box">
          <span class="details">Country</span>
          <input type="text" th:field="*{country}" placeholder="Enter your age">
        </div>
        <div class="input-box">
          <span class="details">Employed</span>
          <input type="checkbox" th:field="*{employed}">
        </div>
        <div class="input-box">
          <span class="details">Bio</span>
          <input type="text" th:field="*{bio}" placeholder="Enter your bio" id="bio">
        </div>
        <div class="input-box">
          <span class="details">Confirm password or enter new</span>
          <input type="password" th:field="*{password}" placeholder="Enter your password" id="password" required>
        </div>
      </div>
      <div class="gender-details">
        <div class="input-box">
          <span class="details">Gender</span>
          <div class="gender-details">
            <input type="radio" name="gender" id="dot-1">
            <input type="radio" name="gender" id="dot-2">
            <input type="radio" name="gender" id="dot-3">
            <div class="select">
              <select name="format" id="format" th:field="*{gender}" >

                <option th:each="gender : ${T(ua.socialnetwork.entity.enums.Gender).values()}"
                        th:value="${gender}"
                        th:text="${gender}">
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Profile image</span>
          <div id="img-preview"></div>
          <div class="upload">
            <button type = "button" class = "btn-warning">
              <i class = "fa fa-upload"></i> Upload File
              <input id="choose-file" type="file" name="userImage" accept="image/png, image/gif, image/jpeg">
            </button>
          </div>
        </div>

      </div>
      <div class="button" >
        <input type="submit" value="Edit">
      </div>
    </form>
  </div>
</div>

<script>
  const chooseFile = document.getElementById("choose-file");
  const imgPreview = document.getElementById("img-preview");

  function getImgData() {
    const files = chooseFile.files[0];
    if (files) {
      const fileReader = new FileReader();
      fileReader.readAsDataURL(files);
      fileReader.addEventListener("load", function () {
        imgPreview.style.display = "block";
        imgPreview.innerHTML = '<img src="' + this.result + '" />';
      });
    }
  }
  chooseFile.addEventListener("change", function () {
    getImgData();
  });
</script>
<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</body>
</html>